@{
    ViewBag.Title = "Завдання курсової роботи";
}
<h2>@ViewBag.Title</h2>

<p><h1>Завдання</h1></p>
<p>1. Заданий граф. Розрахувати матрицю віддаленості за формулою Чекановського-Дайса. Використовуючи знайдену матрицю віддаленості, розділити граф на підграфи.Порахувати суму розбиття. </p>
<img src="/res/graf.jpg" alt=""/>
<p>2.Розробити алгоритм розв’язання задачі</p>
<p>3.Розробити програмну реалізацію алгоритму</p>
