@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>


<address>
    КПІ ім. Ігоря Сікорського, ФІОТ<br />
    вул. Політехнічна 41, корпус 18, Київ, 03056<br />
    <abbr title="Phone">P:</abbr>
    0664231089
</address>

<address>
    <strong>Support:</strong>   <a href="aslamovamarharyta@gmail.com">Margarita Aslamova</a><br />
    </address>