@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Курсова робота на тему:</h1>
    <p class="lead">"Розбиття графа на підграфи за різними критеріями"</p>
    
</div>

<div class="row">
    
</div>